{% extends 'base/main.html' %}
{% load static %}
{% block content %}

    <section class="hero">
        <div class="hero--content">
            {% for personalinfomation in personalinfomations %}

                <div class="hero--content--intro">

                    <img id="hero-image" src="{{ personalinfomation.profile_picture.url }}" alt="">
                    <h1 class="intro--name">
                        {{ personalinfomation.name }}
                        <br> {{ personalinfomation.lastname }}
                    </h1>
                </div>
                <div class="hero--content--subsection">
                    <H3 class="description">{{ personalinfomation.function }}</H3>
                    <p class="slogan"> {{ personalinfomation.slogan }}</p>
                </div>
            {% empty %}
                <H3> No personalinfomation in the database yet </H3>
            {% endfor %}
        </div>
    </section>

    <section class="container">

        <h2>My Projects</h2>

        <h4>Projects that makes my Journey Worthwile</h4>

        <div class="projects--wrapper">
            {% for project in projects %}
                <div class="project--column">
                    <a href="{% url 'project' project.id %}">

                        <img class="project--thumbnail" src="{{ project.thumbnail.url }}" alt="project image">

                    </a>
                    <div class="project--body">

                        <h5>
                            {{ project.title }}
                        </h5>

                    </div>

                </div>

            {% endfor %}
        </div>
        <div class="about--wrapper">

            <h2>
                Mission statement
            </h2>

            {{ mission.content }}


        </div>

    </section>

    <section class="section--1--skills">

        <div class="skills--container">

            <h2>
                Skills
            </h2>
            {% for skill in detailedSkills %}
                <div>
                    <div class="skill--wrapper">
                        {% if skill.logo %}
                            <img class="skill--logo" src="{{ skill.logo.url }}">
                        {% endif %}
                        <div>
                            <h5>
                                {{ skill.title }}
                            </h5>
                            <p>
                                {{ skill.body }}
                            </p>
                        </div>
                    </div>


                    {% if request.user.is_authenticated %}
                        <a class="btn btn-warning" href="{% url 'edit-skills' skill.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'delete-skills' skill.id %}">Delete</a>
                    {% endif %}

                </div>


            {% endfor %}


            <H3> Other Skills</H3>
            {% for skill in skills %}
                <div class="other--skills--wapper">

                    <div>
                        <div class="skill--tag">
                            <span>{{ skill.title }}</span>
                        </div>
                        {% if request.user.is_authenticated %}
                            <a class="btn btn-warning" href="{% url 'edit-skills' skill.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete-skills' skill.id %}">Delete</a>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section>
                        {% for transcript in transcripts %}

        <div>
        <H2>  {{ transcripts.title }}</H2>
            <div>
                    <img class="skill--logo" src="{{ transcript.logo.url }}">
                    <div>
                    </div>
                    </div>
                    </section>
                    <section>
                    <div>
                      <p> {{ transcript.body }} </p>
                    {% if request.user.is_authenticated %}
                            <a class="btn btn-warning" href="{% url 'edit-transcript' transcript.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete-transcript' transcript.id %}">Delete</a>
                        {% endif %}
                    </div>

                {% endfor %}
                </div>
                </div>
                </section>
    <section class="section--2--contact">
        <div>
            {% for comunityservice in communityservices %}
                <img class="skill--logo" src="{{ comunityservice.logo.url }}">

                <h2> {{ comunityservice.title }}</h2>
                {{ comunityservice.body | safe }}
                {% if request.user.is_authenticated %}
                            <a class="btn btn-warning" href="{% url 'edit-community' comunityservice.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete-community' comunityservice.id %}">Delete</a>
                        {% endif %}
            {% empty %}
                <H3> No personalinfomation in the database yet </H3>
            {% endfor %}
        </div>
    </section>
    <section class="section--2--contact">
        <div>
            {% for award in awardsandhonorss %}
                <img class="skill--logo" src="{{ award.logo.url }}">

                <H2>{{ award.title }}</H2>
               <p>{{ award.body }}</p>
                {% if request.user.is_authenticated %}
                            <a class="btn btn-warning" href="{% url 'edit-award' award.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete-award' award.id %}">Delete</a>
                        {% endif %}
            {% empty %}
                <H3> No personalinfomation in the database yet </H3>
            {% endfor %}
        </div>
    </section>
    <section class="section--2--contact">
        <div>
            <div>
                {% for ref in refrences %}
                    <img class="skill--logo" src="{{ ref.thumbnail.url }}">
                   <h2> {{ ref.name }} </h2>
                   <p>{{ ref.lastname }}</p>
                    <p>{{ ref.body }}</p>
                    <p>{{ ref.email }}</p>{{ ref.email }}
                    <p>{{ ref.phone }}</p>
                    {% if request.user.is_authenticated %}
                            <a class="btn btn-warning" href="{% url 'edit-refrence' ref.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete-refrence' ref.id %}">Delete</a>
                        {% endif %}
                {% empty %}
                    <H3> No personalinfomation in the database yet </H3>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section--2--contactform">
        <div class="container">
            <form class="contact--form" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="submit">
            </form>
        </div>
    </section>
{% endblock content %}

