{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div>

{#    <h1>Welcome {% user.name %} {% user.familyname %} </h1>#}

    <section>
        <div>
            <h2> Personal information</h2>
{#            <p> Name: {% user.name %} </p>#}
{#            <p> Lastname: {% user.familyname %} </p>#}
{#            <p> Email: {% user.email %} </p>#}
{#            <a href=#>update personal information</a>#}
        </div>
    </section>
    <section>
        <div>
            <h2> Portofio</h2>
            <p>
                <a class="btn btn-default" href="{% url 'inbox' %}">
                    Inbox
                </a>
            </p>

            <p>
                <a class="btn btn-default" href="{% url 'add-project' %}">
                    Add Project
                </a>
            </p>

            <p>
                <a class="btn btn-default" href="{% url 'add-skill' %}">
                    Add Skill
                </a>
            </p>

            <p>
                <a class="btn btn-default" href="{% url 'add-mission' %}">
                    Add Skill
                </a>
            </p>

        </div>
    </section>
    <section>
        <div>
            <h2>
                <p>
                    <a href=# class="btn btn-danger"> logout</a>
                </p>
            </h2>
        </div>
    </section>
    <a href=#> Portfolio</a>
    <a href=#>Account setting</a>

</div>

{% endblock %}