{% extends 'base/main.html' %}
{% load static %}
{% block content %}

    <section class="hero">
        <div class="hero--content">
            {% for personalinfomation in personalinfomations %}

            <div class="hero--content--intro">
                <h1 class="intro--name">
                    {{ personalinfomation.name }}
                    <br>    {{ personalinfomation.lastname }}
                </h1>
            </div>
                <div>

            <p><a class = "btn btn-info" href="{% url 'edit-personalinfomation' personalinfomation.id %}">update personal information</a></p>

                </div>


                {% empty %}
            <p><a class = "btn btn-info" href="{% url 'add-personalinfomation' %}">set-up personal infomation</a></p>

            {% endfor %}
        </div>
    </section>

    <section class="container">






    </section>

    <section class="section--1--skills">
    <div>

 <div>
            <h2> Portofio</h2>
            <p>
                <a class="btn btn-info" href="{% url 'inbox' %}">
                    Inbox
                </a>
            </p>

            <p>
                <a class="btn btn-info" href="{% url 'add-project' %}">
                    Add Project
                </a>
            </p>

            <p>
                <a class="btn btn-info" href="{% url 'add-skill' %}">
                    Add Skill
                </a>
            </p>

            <p>
                <a class="btn btn-info" href="{% url 'add-mission' %}">
                    Add Skill
                </a>
            </p>
       <p>
                <a class="btn btn-info" href="{% url 'add-transcript' %}">
                    Add Transcript
                </a>
            </p>
       <p>
                <a class="btn btn-info" href="{% url 'add-community' %}">
                    Add Community
                </a>
            </p>
       <p>
                <a class="btn btn-info" href="{% url 'add-award' %}">
                    Add award
                </a>
            </p>
       <p>
                <a class="btn btn-info" href="{% url 'add-refrence' %}">
                    Add Skill
                </a>
            </p>

        </div>

        <div>
            <h2>
                <p>
                    <a href=# class="btn btn-danger"> logout</a>
                </p>
            </h2>
        </div>
    <a href=#> Portfolio</a>
    <a href="{% url 'update-user' user.username %}">Update account setting</a>

</div>



    </section>
{% endblock %}
